/**********************************************/
                  /* PAGE SETUP */
/**********************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 100% }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 100%; } }

body {
  font-family: sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }


/**********************************************/
                  /* NAVBAR */
/**********************************************/

 .navbar-dark .navbar-brand {
    color: #fff;
    /* transform: rotate(5deg) scale(1.3); */
}

.navbar-dark .navbar-brand:hover {
    color: #fff;
    transform: rotate(5deg) scale(1.3);
}

.navbar-nav .nav-link:hover {
  color: #fff;
  transform: rotate(5deg) scale(1.3);

}


.jumbotron {
   margin: 0;
   background-image: url("../CSS/images/jumbotron.jpg");
   background-size: cover;
 }
h1.display-4 {
  font-weight: bold;
  font-size: 60px;
}
p.lead {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  width: 70%;
  opacity: 0.8;
  border-radius: 19px;
}

#apiNu {
  color: #000;
}
 /**********************************************/
                   /* JUMBOTRON */
 /**********************************************/

 /**********************************************/
                   /* BODY */
 /**********************************************/



 .box {
  vertical-align: middle;
  width: 70%;
  margin: auto;
  background-color: gray;
  border-radius: 50px;
  opacity: 0.9;
  padding: 1%;
}

h1 {
   font-weight: bold;
   color: #ffff;
   font-size: 50px;
   opacity: 1;
}

p {
   color: white;
   font-size: 20px;
   font-weight: bold;
   opacity: 1;
}


/**********************************************/
                  /* PARALLAX */
/**********************************************/
#protein {
   height: 50vh;
   width: 100%;
   background-size: cover;
   display: flex;
   background-attachment: fixed;
   background-image: url(../CSS/images/protien.jpg);
   text-align: center;
}

#calories {
   height: 50vh;
   width: 100%;
   background-size: cover;
   display: flex;
   background-attachment: fixed;
   background-image: url(../CSS/images/calories.jpeg);
   text-align: center;
}

#carbs {
   height: 50vh;
   width: 100%;
   background-size: cover;
   display: flex;
   background-attachment: fixed;
   background-image: url(../CSS/images/carbs.jpeg);
   text-align: center;
}

#macros {
   height: 50vh;
   width: 100%;
   background-size: cover;
   display: flex;
   background-attachment: fixed;
   background-image: url(../CSS/images/macros.jpg);
   text-align: center;
}

#fat {
   height: 50vh;
   width: 100%;
   background-size: cover;
   display: flex;
   background-attachment: fixed;
   background-image: url(../CSS/images/fats.jpeg);
   text-align: center;
}

select {
   margin-left: 20px;
   margin-right: 20px;
}
/**********************************************/
                  /* NUERAL NETWORK */
/**********************************************/
.nueral-network {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 10px;
  border-top: 1px solid;
}
.btn .btn-primary {
  text-align: center;
}



/**********************************************/
                  /* CANVAS */
/**********************************************/
.graph {
border-style: solid;
}
.charts {
  width: 100%;
  height: 50%;
  border-bottom: 1px solid
}


.container  {
  padding-bottom: 12px;
  padding-top: 20px;
  padd
}

/**********************************************/
                  /* API */
/**********************************************/
.nutration-api {
  padding: 20px 20px 20px 20px;
  border-top: 1px solid

}

.recipeApi {

}


/**********************************************/
                  /* FOOTER */
/**********************************************/


.footer {
  background-color: #838fdb;
  grid-column: full-start / full-end;
  padding: 8rem;
  background-image: url("../CSS/images/footer.jpg");
  background-size: cover;


}

#footer-info {
   width: 100%;
   font-size: 25px;
   display: flex;
   color: white;
   padding: 3rem;
   font-weight: bold;
  }
